@font-face {
    font-family: "Righteous";
    src: url('assets/font/Righteous-Regular.ttf') format("truetype");
}

#container {
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff0f0;
}

#title {
    padding: 1%;
    color: #3080ff;
    background-color: #fff0e0;
}

#chatlog {
    width: 75%;
    height: 85%;
    padding: 1%;
    background-color: #e0f0ff;
    float: left;
    overflow-y: auto;
}

#users {
    width: 20%;
    height: 85%;
    padding: 1%;
    background-color: #e0fff0;
    float: left;
}

#users_header {
    width: 96%;
    color: #ffffff;
    font-weight: bold;
    padding: 2%;
    background-color: #90afff;
}

.userName {
    color: purple;
}

.playerJoined {
    color: green;
}

.playerLeft {
    color: red;
}

.playerMessage {
    color: black;
}
