#loginbutton{
height: 25px;
width: 80px;
z-index: 30;
position: absolute;
top: 20px;
right: 20px;
cursor: pointer;
color: #ffffff;
}
#regbutton{
height: 25px;
width: 80px;
z-index: 30;
position: relative;
top: 0px;
cursor: pointer;
color: blue;
}
#closebtn{
	color: #eeeeee;
	border-radius: 15px;
	position: absolute;
	top: -4px;
	right: -4px;
	width: 20px;
	height: 20px;
	background: #cc4444;
	text-align: center;
	padding: 4px;
	padding-left: 5px;
	cursor: pointer;
}
#loginbox{
	border-radius: 15px;
	z-index: 100;
	position: relative;
	height:145px;
	width:315px;
	margin: 0 auto;
	background: #eeeeee;
	padding: 10px;
}
#regbox{
	border-radius: 15px;
	z-index: 100;
	position: relative;
	height:295px;
	width:345px;
	margin: 0 auto;
	background: #eeeeee;
	padding: 10px;
}

#regsuccess{
	border-radius: 15px;
	z-index: 100;
	position: relative;
	height: 145px;
	width: 315px;
	margin: 0 auto;
	background: #eeeeee;
	padding: 10px;
	text-align: center;
}
#loginbutton:hover{
	text-decoration: underline;
}
#regbutton:hover{
	text-decoration: underline;
}

#mask{
position: absolute;
top: 0px;
left: 0px;
background: #222222;
opacity: 0.75;
z-index: 50;
display: none;
}

#username,#password{
	width: 210px;
}

#regname,#password1,#password2{
	width: 190px;
}

#perror1,#perror2,#uerror{
	width: 15px;
	color: red;
}

#errmsg{
	font-size: 12px;
	color: red;
	text-align: center;
}
#confirmation-box{
	border-radius: 15px;
	position: absolute;
	width: 350px;
	height: 125px;
	top: 200px;
	left: 400px;
	text-align: center;
	color: #666666;
	background: #dddddd;
	display: none;
	z-index: 100;
	background: url(images/confirm-box.png)
}
#details-form{
	border-radius: 15px;
	position: absolute;
	width: 350px;
	height: 100px;
	top: 200px;
	left: 400px;
	text-align: center;
	color: #666666;
	background: #dddddd;
	display: none;
	z-index: 100;
}
#uploader{
	border-radius: 15px;
	position: absolute;
	width: 350px;
	height: 130px;
	top: 200px;
	left: 400px;
	text-align: center;
	color: #666666;
	background: #dddddd;
	display: none;
	z-index: 100;
}
#uploader_form{
	width: 335px;
	height: 130px;
	position: relative;
	
}
#progress p{
	display: none;
	width: 240px;
	height: 20px;
	padding: 2px 5px;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 5px;
	background: #eee url("../images/progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}